<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mak Association</title>
    <link rel="stylesheet" href="{% static 'insurance/assets/bootstrap/css/bootstrap.min.css' %}  ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">   
    <link rel="stylesheet" href="{% static 'insurance/assets/fonts/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'insurance/assets/css/styles.min.css' %}">
    <script src="{% static 'insurance/assets/js/jquery.min.js' %} "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
<body>
    <!-- Start: Navigation Clean -->
     <nav class="navbar navbar-light navbar-expand-md navigation-clean">
          <div class="container"><a class="navbar-brand" href="{% url 'insurance:home' %}">Mak Associaton</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'insurance:addpolicy' %}">Add Policy</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'insurance:buyers' %}">Buyers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'insurance:sellers' %}">Sellers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Add Peoples</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'insurance:addbuyer' %}">Add Buyer</a><a class="dropdown-item" role="presentation" href="{% url 'insurance:addseller' %}">Add Seller</a><a class="dropdown-item" role="presentation" href="{% url 'insurance:addcompany' %}">Add Company</a>
                          
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Collection</a>
                      <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'insurance:buyercollectionform' %}">Buyer</a><a class="dropdown-item" role="presentation" href="{% url 'insurance:sellercollectionform' %}">Seller</a>
                        
                  </li> 
                </ul>
            </div>
        </div>
        {% block buyer %}
        {% endblock buyer %}
        {% block seller %}
        {% endblock seller %}
    </nav>
    <!-- End: Navigation Clean -->
    <!-- Start: Features Boxed -->
    {% block content %}
    {% endblock content %}

    <!-- <footer class="page-footer font-small blue footer-dark">

       
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="{% url 'insurance:home' %}"> Mak Association LLC</a>
        </div>
     
      
      </footer> -->
    
    <script src="{% static 'insurance/assets/js/jquery.min.js' %} "></script>
    <script src="{% static 'insurance/assets/bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</body>

</html>