{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% comment %} {% block buyer %}
	    <form class="form-inline my-2 my-lg-0" method="GET">
			{{buyer.form}}
            <button class="btn btn-dark my-2 my-sm-0 m-3 " type="submit">Apply</button>
        </form>
{% endblock buyer %} {% endcomment %}

{% block content %}
<div class="container">
<h1 class="justify-content-center " style="text-align:center"><span class="blue   "></span>Buyer's<span class="blue"></span> <span class="yellow">List</span></h1>

<table class="table table-dark container">
  <thead>
    <tr>
      <th scope="col">Buyer</th>
      <th scope="col">Seller</th>
      <th scope="col">Payout</th>
      <th scope="col">Net</th>
      <th scope="col">Amount</th>
      <th scope="col">Debit</th>
      <th></th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for buyer in object_list %}
      <td>{{buyer.buyer}}</td>
      <td>{{buyer.buyerPayout}}</td>
      <td>{{buyer.buyernet}}</td>
      <td>{{buyer.buyeramount}}</td>
      <td>{{buyer.buyerdebit}}</td>
			<td>
					<a href="{% url 'insurance:updatepolicy' buyer.id %}" class="btn btn-lg  text-secondary px-0"><i class="far fa-edit fa-lg"></i></a>
			</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}