{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% comment %} {% block buyer %}
	   
{% endblock buyer %} {% endcomment %}

{% block content %}
<div class="container">
<h1 class="justify-content-center " style="text-align:center"><span class="blue   "></span>Seller's<span class="blue"></span> <span class="yellow">Collection</span></h1>

     <form class="form-inline my-2 my-lg-0" method="GET">
			{{seller.form}}
            <button class="btn btn-dark my-2 my-sm-0 m-3 " type="submit">Apply</button>
        </form>
    
    {% for seller in object_list %}

		
					<a href="{% url 'insurance:updatepolicy' seller.id %}" class="btn btn-lg  text-secondary px-0"><i class="far fa-edit fa-lg"></i></a>
			

    {% endfor %}
 
</div>
{% endblock content %}